#product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  padding: 10px;
  background-color: #fdf1ec;
}

.admin-product-card {
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 2fr 1fr 1fr;
  background-color: #8b0400;
  margin: 10px;
  border-radius: 7px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.admin-image-container {
  grid-row: 1 / 4;
  grid-column: 1 / 2;

  border-top-left-radius: 7px;
  background-color: white;
  padding: 10px;
}

.admin-product-info {
  grid-column: 2 /4;
  grid-row: 1 /4;
  display: grid;
  grid-template: auto auto auto auto / auto auto;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: #8b0400;
}

.admin-product-title {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  color: #474747;
}

.admin-product-name {
  text-transform: uppercase;
  text-align: left;
  font-size: 40px;
}

.admin-product-category {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fdf1ec;
  letter-spacing: 0.2em;
  text-align: left;
}

.admin-product-description {
  grid-row: 2 / 3;
  grid-column: 1/ 5;
  text-align: left;
  padding-right: 10px;
  color: #fdf1ec;
  font-family: Lato;
}

.admin-product-price {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  color: #fdf1ec;
  font-weight: bolder;
  font-size: x-large;
}

.admin-product-stockQty {
  grid-row: 4 / 5;
  grid-column: 2 / 5;
  color: #fdf1ec;
  font-weight: bolder;
  font-size: x-large;
}

.button-add {
  background-color: blue;
  color: white;
  max-width: 179px;
  border-radius: 7px;
  margin-top: 10px;
  margin-left: 10px;
}

.add-but-container {
  text-align: center;
}

.admin-product-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  grid-row: 4/5;
  grid-column: 1/4;
  background-color: #6c0501;
  padding: 10px;
}

.admin-edit {
  margin-right: 5px;
}

.admin-nav {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  margin-top: 20px;
}

.admin-link {
  text-decoration: none;
  height: 250px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.15);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7px;
  color: white;
  font-size: 60px;
  place-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-page-title {
  font-size: 60px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;

  color: inherit;
}

/* .admin-order-container span {
  background-color: #8b0400;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  color: white;
  display: flex;
  padding-left: 20px;
} */

.status-selection-container {
  background-color: #8b0400;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  color: white;
  display: flex;
  padding-left: 20px;
}

.category-submit {
  background-color: #8b0400;
  color: white;
  text-decoration: none;
  border: none;
}

.order-history-title {
  background-color: #670502;
  color: white;
  font-size: 50px;
}
