.cart-container {
  display: grid;
  grid-template: 20% auto auto;
}

.cart-card-container {
  display: grid;
  grid-row: 2 / 3;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart-cards {
  display: grid;
  grid-template-columns: 1fr 30% 1fr 1fr 1fr 1fr;
  display: grid;
  justify-self: center;
  border-bottom-style: solid;
  border-color: lightgray;
  padding-top: 5px;
  width: 100%;
}

.cart-headers {
  display: grid;
  grid-template-columns: 1fr 30% 1fr 1fr 1fr 1fr;
  display: grid;
  justify-self: center;
  font-size: 30px;
  padding-top: 5px;
  width: 100%;
  padding-bottom: 20px;
  background-color: rgb(53, 50, 50);
  color: white;
  border-radius: 7px;
}

.cart-header {
  grid-row: 1 / 2;
  font-size: 60px;
  color: black;
  margin-bottom: 20px;
}

.cart-quantity-container {
  display: grid;
  grid-template: auto/ 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.cart-add-item {
  display: flex;
  grid-column: 1/2;
  grid-row: 1/2;
}

.cart-quantity {
  grid-column: 2/3;
  grid-row: 1/2;
}

.cart-remove-item {
  grid-column: 3/4;
  grid-row: 1/2;
}

.checkout-section {
  grid-row: 3/4;
}
