.dd-wrapper {
  display: flex;
  min-height: 38px;
  flex-wrap: wrap;
}

.dd-header {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  padding: 0 20px;
  color: white;
  border: white;
  font-size: xx-large;
}

.dd-list {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 20px;
}

li {
  list-style-type: none;
}

button {
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 16px;
  padding: 15px 20px 15px 20px;
  border: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  text-align: left;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

button:hover,
button:focus {
  cursor: pointer;
  font-weight: bold;
  background-color: #ccc;
}

/* .dd-header__action p {
  text-align: center;
  font-size: larger;
} */
