.login-form-container {
  grid-area: main;
  display: grid;
  padding: 60px;
}
.login-card {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  max-height: 500px;
  max-width: 672px;
  justify-self: center;
}
.login-image img {
  display: flex;
  max-height: 500px;
  max-width: 336px;
}
.login-container {
  padding-top: 45px;
  padding-left: 20px;
}
#formBasicUsername {
  width: 76%;
  text-align: left;
  float: right;
}
#formBasicPassword {
  width: 76%;
  text-align: left;
  float: right;
}
.login-button {
  float: right;
  background-color: rgb(243, 113, 113);
  color: black;
}
