#order-history-container-users {
  border: 1px solid;
  margin: 20px;
  margin-right: 150px;
  margin-left: 150px;
  border-radius: 7px;
  display: grid;
  grid-template: 25% auto / auto;
  background-color: rgb(215, 213, 213);
  font-size: 19px;
}
#order-users-container {
  grid-row: 1/2;
  grid-column: 1/ 4;
  display: grid;
  grid-template: 1fr / auto auto auto auto;
}

.dark-background {
  background-color: rgb(48, 48, 48);
  color: white;
  font-size: 20px;
}

.items-ordered-container-user {
  grid-row: 2 /3;
  grid-column: 1 / 5;
  display: grid;
  grid-template: auto / auto;
}

.items-ordered-title-user {
  grid-row: 1 /2;
  grid-column: 1 / 2;
  background-color: rgb(97, 97, 97);
  color: white;
  font-size: 20px;
}

.items-ordered-list-user {
  grid-row: 2/3;
  grid-column: 1 / 2;
}

.single-item-container-user {
  display: grid;
  grid-template: auto auto / auto auto auto;
}

.single-item-header {
  font-size: 20px;
  font-weight: bolder;
}

.with-line {
  border-bottom: 1px solid rgb(186, 185, 185);
}
