@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Smythe&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Smythe", cursive;
}

#root {
  display: flex;
  height: 100vh;
  color: black;
  background-color: #fdf1ec;
}
